.aboutme {
	position: relative;
}

.model-placeholder {
	min-width: 250px;
	height: 250px;
	border-radius: 20px;

	overflow: hidden;
}

.text {
	font-size: 16px;
}

.canvasBackground {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	z-index: -1;
	width: 100%;
	background-color: #302a32;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.window {
	position: relative;
	z-index: 1;

	padding: 40px;
	color: white;
}
