:root {
	--primary: #1f92f6;
	--black: #;
}

.section {
	padding-left: 40px;
	padding-right: 40px;
}

.section-title {
	font-size: 26px;
	font-weight: 500;
}

.bold {
	font-weight: 500;
}

.inter {
	font-family: "inter", system-ui;
}

.dark-text {
	color: #7a7a7a;
}

.colored-text {
	color: var(--primary);
}

.faded-text {
	color: #b7b7b7;
}

.underlined-text {
	text-decoration: underline;
}

.skill {
	background-color: #d1d1d181;
	padding: 1px 10px;
	color: grey;
	border-radius: 20px;
	display: inline-block;
}

canvas {
	pointer-events: none;
}

.stars-background-box {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	z-index: -1;
	background-color: #302a32;
	width: 100%;
	height: 100%;
}
