:root {
	--primary: #1f92f6;
}

.section-title {
	font-size: 26px;
	font-weight: 500;
	font-family: "JetBrains Mono", monospace;
}

.bold {
	font-weight: 700;
}

.jetbrains-mono {
	font-family: "JetBrains Mono", monospace;
}

.inter {
	font-family: "inter", system-ui;
}

.dark-text {
	color: #7a7a7a;
}

.colored-text {
	color: var(--primary);
}

.faded-text {
	color: #b7b7b7;
}

.underlined-text {
	text-decoration: underline;
}

.skill {
	background-color: #2f2f2f81;
	color: rgb(255, 255, 255);
	padding: 1px 10px;
	border: 1px solid #2f2f2f;
	border-radius: 20px;
	display: inline-block;
}

canvas {
	pointer-events: none;
}
