.experience {
	scroll-margin-top: 10px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	flex: 1;
	width: 100%;
}

.date {
	white-space: nowrap;
}

.content {
	max-width: 680px;
}

.title {
	font-size: 17px;
}

.description {
	font-weight: 300;
}
