.featured-projects {
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	margin-top: 32px;
	max-width: 400px;
}

.image {
	border-radius: 8px;
	height: 300px;
	width: 100%;
	object-position: center top;
}

.title {
	font-size: 25px;
	font-weight: 700;
	margin-top: 16px;
}

.description-container {
	font-size: 16px;
	width: 100%;
	overflow-wrap: normal;
}

.description {
	margin-top: 2px;
}

.links {
	font-size: 16px;
	font-weight: 600;
}

.link-disabled {
	color: grey;
	text-decoration: line-through;
	cursor: default;
}

.link:hover {
	text-decoration: underline;
}
