.outer-container {
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;

	transform: translateY(0);
	transition: transform 0.35s ease, background-color 0.25s ease;
}

.hidden {
	transform: translateY(-100%);
}

.scrolled {
	background-color: rgba(43, 43, 43, 0.9);
}

.inner-container {
	max-width: 1200px;
	padding: 20px 0px;
}

.nav {
	color: white;
}
