.container {
	z-index: 100;
	position: fixed;
	top: 32px;
	max-width: 1130px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 8px;
	padding: 15px 20px;
	background-color: rgba(30, 26, 32, 0.9);
}
