* {
	margin: 0;
	padding: 0;
}

#root {
	height: 100vh;
	width: 100vw;
}

html {
	background-color: #1e1a20;
	color: white;
	scroll-behavior: smooth;
}

#canvas-container {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.main-content {
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	padding-bottom: 200px;
}
/* 
.app {
	scroll-behavior: smooth;
} */
