* {
	margin: 0;
	padding: 0;
}

#root {
	height: 200vh;
	width: 100vw;
}

html {
	background-color: #1e1a20;
	color: white;
}

#canvas-container {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	z-index: -1;
	height: 100%;
	width: 100%;
}
.main-content {
	max-width: 1130px;
	margin: 0 auto;
	padding-bottom: 250px;
}
