* {
	margin: 0;
	padding: 0;
}

#root {
	height: 100vh;
	width: 100vw;
}

html {
	color: rgb(50, 50, 50);
	scroll-behavior: smooth;
}

.main-content {
	min-height: 100vh;
	padding-bottom: 200px;
}

.app {
	z-index: 1;
}
