* {
	margin: 0;
	padding: 0;
}

#root {
	height: 100vh;
	width: 100vw;
}

html,
body {
	color: white !important;
	scroll-behavior: smooth;
	background-color: white;
}

.main-content {
	min-height: 100vh;
	padding-bottom: 200px;
}

.app {
	z-index: 1;
}
